<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="icon" href="LOCATION">
  <!--added because customListName after entering in url shows favicon.ico-->
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="data:,">
</head>

<body>

